<h1>Rúbrica</h1>


<div *ngIf="this.hiHanDades">
    <table>
        <tr>
            <th></th>
            <h3>VALORACIONS</h3>
        </tr>
        <tr>
            <th>CRITERIS</th>
            <td *ngFor="let num of valoracionsNumDiff ; let i = index">
                <b>{{num}} </b>             
            </td>
        </tr>
        <tr *ngFor="let criteri of criteris; let i = index">
            <td><b>{{criteri.titolCriteri}}</b></td>
            <td *ngFor="let num of valoracionsNumDiff ; let i = index" [ngClass]="esSeleccionat(criteri.titolCriteri , num) ? 'selec' : 'noselec'"  (click)="seleccionarValoracio(criteri.titolCriteri , criteri.valoracioPerNumero(num).numero)">
            <span *ngIf="criteri.valoracioPerNumero(num).numero != -1"
             [ngClass]="esSeleccionat(criteri.titolCriteri , num) ? 'textSelec' : ''"> 
              {{criteri.valoracioPerNumero(num).titolValoracio}} 
            </span>
            </td>
        </tr>
    </table>

    <button (click)="calcularResultat()" >Enviar</button>

    <p *ngIf="this.mostrarResultat"> El resultat es: {{this.sumaEleccions[0]}} punts sobre {{this.sumaEleccions[1]}}</p>
</div>

<p *ngIf="!this.hiHanDades">  No hi han dades per mostrar!!! </p>