table, td , th{
    border : 1px solid black;
    border-collapse: collapse ;
    text-align: center;
}

span {
    cursor: pointer;
}


td{
    width: 200px;
}

.noselec{
    cursor: pointer;
}

.noselec:hover{
    background-color: lightgrey;
}

.selec{
    cursor: pointer;
    background-color: lightgreen;
}

.textSelec{
    color: white;
}